{% load static %}
{% load version %}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}} Flashcards</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/russian.css' %}" />
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/flip.js' %}"></script>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand abs" href="{% url 'index' %}">Flashcards</a>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>


    {% block content %}{% endblock %}


    <script type="text/javascript" src="{% static 'js/russian.js' %}">  </script>
</body>
</html>