{% extends 'russian/base.html' %}
{% load static %}

{% block content %}
    Progressão do tempo:
    <form method="POST">
    	{% csrf_token %}
    	<div class="form-group">
	    	<label for="time1number">Tempo 1:</label><br>
	    	<input type="number" name="time1number" required>
	    	<select name="time1select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
    	<div class="form-group">
	    	<label for="time2number">Tempo 2:</label><br>
	    	<input type="number" name="time2number" required>
	    	<select name="time2select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="time3number">Tempo 3:</label><br>
	    	<input type="number" name="time3number" required>
	    	<select name="time3select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="time4number">Tempo 4:</label><br>
	    	<input type="number" name="time4number" required>
	    	<select name="time4select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="time5number">Tempo 5:</label><br>
	    	<input type="number" name="time5number" required>
	    	<select name="time5select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="time6number">Tempo 6:</label><br>
	    	<input type="number" name="time6number" required>
	    	<select name="time6select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="time7number">Tempo 7:</label><br>
	    	<input type="number" name="time7number" required>
	    	<select name="time7select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="time8number">Tempo 8:</label><br>
	    	<input type="number" name="time8number" required>
	    	<select name="time8select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="time9number">Tempo 9:</label><br>
	    	<input type="number" name="time9number" required>
	    	<select name="time9select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="time10number">Tempo 10:</label><br>
	    	<input type="number" name="time10number" required>
	    	<select name="time10select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<div class="form-group">
	    	<label for="time11number">Tempo 11:</label><br>
	    	<input type="number" name="time11number" required>
	    	<select name="time11select">
	  			<option value="seg">Second(s)</option>
	  			<option value="min">Minute(s)</option>
	  			<option value="hour">Hour(s)</option>
	  			<option value="day">Day(s)</option>
	  			<option value="week">Week(s)</option>
	  			<option value="month">Month(s)</option>
	  			<option value="year">Year(s)</option>
			</select>
		</div>
		<input type="submit" value="Save" name="btnsave" class="btn btn-dark"/>
    </form>
{% endblock %}