{% extends "russian/base.html" %}
{% load static %}
{% load version %}

{% block content %}
    <div class="row py-5">
        <div class="subjectArea col-12 col-md-8 bg-light border">
            <audio class="sound" src="{{ soup.audio }}" controls>
                Your browser does not support the <code>audio</code> element.
            </audio>

            <!-- Legendas -->
            <div class="flipArea">
                <div class="flip">
                    <div class="face face1"></div>
                    <div class="face face2"></div>
                </div>
            
                <ul class="store">
                    <li>
                        <div class="content bg-light" id="rus_cy_face">
                            {{ soup.cyrillic }}
                        </div>
                    </li>
                    <li>
                        <div class="content bg-light" id="rus_en_face">
                            {%if soup.english %}
                                {{ soup.english }}
                            {% else %}
                                <i>"English"</i>
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <div class="content bg-light" id="rus_fn_face">
                            {%if soup.function %}
                                {{ soup.function }}
                            {% else %}
                                <i>"Function"</i>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>

            
        </div>

        <!-- Painel de controle do usuário -->
		<div class="col-4 col-md-4 my-auto">
            <!-- Nível de dificuldade -->
            <div class="card text-center">
                <h4 class="card-header">Difficulty</h4>
                <div class="card-body">
                    <a	class="btn btn-danger" role="button" id="bHard"
                        href="{% url 'word_hard' number=soup.number|to_int current_box=next_levels.hard %}" >
                        High <br> ({{ next_levels.hard | time:user }})
                    </a>
                    
                    <a class="btn btn-warning" role="button" id="bGood"
                        href="{% url 'word_ok' number=soup.number|to_int current_box=next_levels.medium %}" >
                        Medium <br> ({{ next_levels.medium | time:user }})
                    </a>
                    
                    <a class="btn btn-success" role="button" id="bEasy"
                        href="{% url 'word_easy' number=soup.number|to_int current_box=next_levels.easy %}" >
                        Low <br> ({{ next_levels.easy | time:user }})
                    </a>
                </div>
            </div>
            
            <!-- Idioma de exibição -->
            <div class="card text-center">
                <h4 class="card-header">Exhibition language</h4>
                <div class="card-body">
                    <button class="btn btn-primary" id="flipper_rus_cy">
                        Cyrillic
                    </button>
                    
                    <button class="btn btn-primary" id="flipper_rus_en">
                        English
                    </button>
                    
                    <button class="btn btn-primary" id="flipper_rus_fn">
                        Function
                    </button>
                </div>
            </div>			
        </div>
    </div>
{% endblock %}