{% extends 'russian/base.html' %}
{% load version %}

{% block content %}
<div class="card">
    <div class="card-body back">
    	<div>
    	<video width="320" height="240" controls>
		  <source src="http://localhost:8000/static/small.mp4" type="video/mp4">
		Your browser does not support the video tag.
		</video>
		</div>
		<div style="margin-top: 3%; margin-bottom: 3%;">
			<h1>Pinyin</h1>
		</div>
		<button class="btn btn-primary flip-btn" id="btn-back">Flip card</button>
    </div>
    <div class="card-body front">
    	<div style="margin-bottom: 0px; padding-bottom: 0px;">
    	<video width="320" height="240" controls>
		  <source src="http://localhost:8000/static/small.mp4" type="video/mp4">
		Your browser does not support the video tag.
		</video>
		</div>
		<div id="subtitle1" style="margin-bottom: 3%;">
			<h1>{{sentence.sentence}}</h1>
		</div>
		<div id="subtitle2" style="display: none; margin-bottom: 3%;">
			<h1>{{sentence.equivalence}}</h1>
		</div>
		<button class="btn btn-primary flip-btn" id="btn-front">Flip card</button>
		<div id="buttons" style="display: none;">
			<a href="{% url 'sentence_hard' sentence_number=sentence.number current_box=current_box%}">Again (<{{current_box|add:"-1"|time}})</a>
            {% if current_box != 10 and current_box != 0 %}
            <a href="{% url 'sentence_ok' sentence_number=sentence.number current_box=current_box%}">Good (<{{current_box|time}})</a>
            {% endif %} 
            <a href="{% url 'sentence_easy' sentence_number=sentence.number current_box=current_box%}">Easy (<{{current_box|add:"1"|time}})</a>
		</div>
    </div>
</div>
{% endblock %}