{% extends 'russian/base.html' %}
{% load version %}

{% block content %}
	<div class="flipArea">
		<div>
			<video class="video" controls>
				<source src="{{video}}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>

		<div class="newCard" id="flip-ex">
			<div class="front">
				<div id="sumir-snd">
					<h2>{{sentence.sentence|filter_chinese}}</h2>
				</div>
				<div id="sumir-fst" style="display: none">
					{%if sentence.equivalence %}
						<h3>{{sentence.equivalence}}</h3>
					{% else %}
						<h3><i>"English"</i></h3>
					{% endif %}
				</div>
			</div>
			<div class="back">
				{%if sentence.pinyin %}
					<h3>{{sentence.pinyin}}</h3>
				{% else %}
					<h3><i>"Pinyin"</i></h3>
				{% endif %}
			</div>
		</div>

		<a	class="btn btn-danger" role="button" id="bHard"
			href="{% url 'sentence_hard' number=sentence.number current_box=current_box %}" >
			Hard <br> (< {{ current_box| add:"-1" | time }} )
		</a>

		<a class="btn btn-warning" role="button" id="bGood"
			href="{% url 'sentence_ok' number=sentence.number current_box=current_box %}" >
			Good <br> (< {{ current_box | time }})
		</a>
		
		<a class="btn btn-success" role="button" id="bEasy"
			href="{% url 'sentence_easy' number=sentence.number current_box=current_box %}" >
			Easy <br> (< {{ current_box | add:easy_step | time }})
		</a>

		<button class="btn btn-primary flip-btn" id="flipper" style="display: block">Flip</button>

	</div>

	Current_box = {{ current_box }}
	Easy_step = {{ easy_step }}
{% endblock %}