{% extends 'russian/base.html' %}
{% load version %}

{% block content %}
	<div class="row">
		
		<div class="movieArea col-12 col-md-8 bg-light border">
			<video class="video" controls>
				<source src="{{ video }}" type="video/mp4">
					Your browser does not support the video tag.
			</video>

			<!-- Legendas -->
			<div class="flipArea">
				<div class="flip">
					<div class="face face1"></div>
					<div class="face face2"></div>
				</div>
			
				<ul class="store my-auto">
					<li>
						<div class="content bg-light" id="ch_face">
							{{sentence.sentence|filter_chinese}}
						</div>
					</li>
					<li>
						<div class="content bg-light" id="pi_face">
							{%if sentence.pinyin %}
								{{sentence.pinyin}}
							{% else %}
								<i>"Pinyin"</i>
							{% endif %}
						</div>
					</li>
					<li>
						<div class="content bg-light" id="en_face">
							{%if sentence.equivalence %}
								{{sentence.equivalence}}
							{% else %}
								<i>"English"</i>
							{% endif %}
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- Painel de controle do usuário -->
		<div class="col-4 col-md-4 my-auto">
			<div class="card text-center">
				<h4 class="card-header">
					Difficult
				</h4>
				<div class="card-body">
					<a	class="btn btn-danger" role="button" id="bHard"
						href="{% url 'sentence_hard' number=sentence.number current_box=next_levels.hard %}" >
						Hard <br> ({{ next_levels.hard | time }})
					</a>
					
					<a class="btn btn-warning" role="button" id="bGood"
						href="{% url 'sentence_ok' number=sentence.number current_box=next_levels.medium %}" >
						Good <br> ({{ next_levels.medium | time }})
					</a>
					
					<a class="btn btn-success" role="button" id="bEasy"
						href="{% url 'sentence_easy' number=sentence.number current_box=next_levels.easy %}" >
						Easy <br> ({{ next_levels.easy | time }})
					</a>
				</div>
			</div>
			
			<div class="card text-center">
				<h4 class="card-header">
					Exhibition language
				</h4>
				<div class="card-body">
					<button class="btn btn-primary" id="flipper_ch">
						Chinese
					</button>
					
					<button class="btn btn-primary" id="flipper_pi">
						Pinyin
					</button>
					
					<button class="btn btn-primary" id="flipper_en">
						English
					</button>
				</div>
			</div>			
		</div>
	</div>

{% endblock %}