.container{
    width: 95%;
    max-width: 98%;
}

img {
    width: 30px;
    height: 30px;
}

.video {
    width: 80%;
}

.card {
    margin: 2%;
}

.cardChinese {
    padding-top: 0px !important;
    padding-bottom: 1%;
}

.back h1{
	margin-top: 0px;
}

.front h1{
	margin-top: 40px;
}

.movieArea{
    width: 80%;
    border-radius: 40px;
    padding: 1%;
    margin: .5% auto;
    text-align: center;
}

.flipArea {
    position: relative;
    
    width: auto;
    height: 10%;
    margin: 1% auto 4% auto;
    

    -webkit-perspective: 50%;
       -moz-perspective: 50%;
        -ms-perspective: 50%;
         -o-perspective: 50%;
            perspective: 50%;
}

.flipArea .flip {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-transition: -webkit-transform 1s;
       -moz-transition:    -moz-transform 1s;
        -ms-transition:     -ms-transform 1s;
         -o-transition:      -o-transform 1s;
            transition:         transform 1s;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.flipArea .flip .face {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    
    font-size: 200%;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
}

.flipArea .flip.flipped,
.flipArea .flip .face2 {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.store {
    display: none;
}